.ArticlesPage {
  max-width: var(--outer-max-width);
  margin: 5rem auto;
  padding: 0 var(--outer-x-padding);

  &-title {
    margin: 0 0 5rem;
    border-bottom: solid 1px #aaa;
    padding-bottom: 1rem;
  }
}
