.ArticleHeader {
  font-family: var(--font-family-sans);
  margin: 0 auto 5rem;
  max-width: var(--outer-max-width);
  padding: 0 var(--outer-x-padding);

  &--hero {
    max-width: none;
    padding: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    -webkit-font-smoothing: antialiased;

    body:has(&) .SiteHeader-menuButton {
      color: #fff;
    }
  }

  &--split {
    height: auto;
    -webkit-font-smoothing: auto;

    @include bp(L) {
      height: 100vh;
      background-color: transparent;
    }
  }

  &-hero {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.75;

    .ArticleHeader--split & {
      height: 50%;

      @include bp(L) {
        width: 50%;
        height: 100%;
        float: right;
        opacity: 1;
      }
    }

    .ArticleHeader--postop & {
      object-position: top;
    }

    .ArticleHeader--posbottom & {
      object-position: bottom;
    }
  }

  &-details {
    color: #000;

    @include bp(M) {
      width: calc(var(--p-width) + var(--inner-x-padding));
    }

    .ArticleHeader--hero & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #fff;
      text-align: center;
      width: 100%;
      padding: 0 var(--inner-x-padding);

      @include bp(M) {
        max-width: 800px;
      }
    }

    .ArticleHeader--split & {
      width: 100%;
      height: 50%;
      position: static;
      transform: none;
      color: #000;
      background-color: var(--background-color);
      max-width: none;
      display: flex;
      flex-direction: column;
      place-content: center;
      padding: 3rem var(--inner-x-padding);

      @include bp(L) {
        width: 50%;
        height: 100%;
        max-width: none;
        padding: 0 var(--inner-x-padding);
      }
    }

    .ArticleHeader--invert & {
      background: #000;
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }
  }

  &-title {
    .ArticleHeader--split & {
      font-size: 2rem;
    }
  }

  &-subhed {
    color: var(--text-color-secondary);
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    font-style: italic;

    .ArticleHeader--hero:not(.ArticleHeader--split) & {
      color: #fff;
    }
  }

  &-divider {
    margin: 1em 0 0;
    border: solid 1px #aaa;
    border-bottom: none;

    .ArticleHeader--hero & {
      border-color: currentColor;
    }
  }

  &-byline {
    margin: 0.5em 0 0;
    padding: 0;
  }

  &-metadataItem {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.7em;
    padding: 0 0.3em;
  }

  &-tags {
    margin-top: 0.5em;
  }
}

body:has(.ArticleHeader--invert) .SiteHeader-title span:not(:last-child) {
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: auto;
}
