.ArticleThumb {
  display: block;
  position: relative;
  font-size: 1rem;
  background: #000;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;

  &,
  &:hover,
  &:visited {
    color: #fff;
  }

  // There's more space for the font at mobile when there are fewer cols, and at
  // desktop when there's more space, it's this middle part that's a problem.
  @include bp(M) {
    font-size: 0.8rem;
  }

  @include bp(L) {
    font-size: 1rem;
  }

  &-imgWrap {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s;

    &::after {
      content: '';
      display: block;
      position: relative;
      padding-bottom: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 25%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }

  &:hover &-imgWrap {
    opacity: 0.4;
  }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-title {
    margin: 0;
    padding: 0.75em;
    font-size: 1.2em;
    line-height: 1.1;
    font-style: normal;
    font-weight: 800;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-byline {
    font-family: var(--font-family-mono);
    font-weight: 700;
    text-transform: lowercase;
    font-size: 0.7rem;
    margin: 0.75rem 0 0.3em -1rem;
  }

  &-author {
    background-color: #000;
    display: inline-block;
    padding: 0.3em 0.5em;
    white-space: nowrap;
  }

  &-published {
    display: none;
  }
}

.ArticleGrid-item {
  // 2x1 cards in the 3rd and 5th position:
  &:nth-child(7n + 3),
  &:nth-child(7n + 5) {
    .ArticleThumb-imgWrap::after {
      padding-bottom: calc(50% - (var(--gap-size) / 2));
    }
  }

  // 2x2 card in the 4th position:
  &:nth-child(7n + 4) .ArticleThumb-title {
    font-size: 2.5em;
  }
}
