.Article {
  --article-outer-max-width: 900px;
  --article-inner-max-width: 728px;

  position: relative;
  margin-top: 5rem;

  &::before {
    content: '';
    display: block;
    max-width: var(--article-outer-max-width);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px 0px;
  }

  &-hero {
    display: block;
    position: relative;
    width: 100%;
    max-width: var(--article-outer-max-width);
    margin: 0 auto 3rem;
  }

  &-header {
    position: relative;
    margin: 0 auto;
    max-width: var(--outer-max-width);
    text-align: center;
    max-width: var(--article-inner-max-width);
    padding: 5rem var(--outer-x-padding) 3rem;
  }

  &-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 0.2em;
  }

  &-subhed {
    color: var(--text-color-secondary);
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    font-style: italic;
  }

  &-divider {
    margin: 0.5em 0 0;
    border: solid 1px currentColor;
    border-bottom: none;
  }

  &-byline {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
  }

  &-metadataItem {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.7em;
    padding: 0 0.3em;
  }

  &-tags {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
  }

  &-tagItem {
    margin: 0 0.1em;
    padding: 0;
    display: inline-block;
  }

  &-tag {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 1em;
    font-family: var(--font-family-display);
    font-size: 0.7em;
    font-weight: bold;
    text-transform: lowercase;
    background: var(--text-color);
    color: #fff;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:visited {
      color: #fff;
      background-color: #000;
    }

    svg {
      fill: currentColor;
      vertical-align: middle;
    }
  }

  &-content {
    position: relative;
    // margin-top: 5rem;
    padding-bottom: 5rem;

    > * {
      // max-width: var(--outer-max-width);
      padding: 0 var(--outer-x-padding);
      max-width: var(--article-inner-max-width);
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 1;
    }

    > img,
    > figure {
      // max-width: calc(
      //   var(--article-outer-max-width) + (2 * var(--outer-x-padding))
      // );
      max-width: var(--outer-max-width);
    }

    > hr {
      max-width: var(--article-outer-max-width);
      border: none;
      border-top: solid 1px #ccc;
    }

    figure {
      padding: 0;
      margin-top: 0;

      img {
        display: block;
        width: 100%;
        max-width: var(--article-outer-max-width);
        margin: 0 auto;
      }
    }

    p > img {
      &.left {
        float: left;
        padding: 0 1rem 1rem 0;
        max-width: 50%;
      }

      &.right {
        float: right;
        padding: 0 0 1rem 1rem;
        max-width: 50%;
      }

      &.center {
        display: block;
        max-width: 200px;
        margin: 0 auto;
      }
    }

    p,
    ul,
    ol,
    dl,
    table {
      line-height: 1.6;
    }
  }
}
