.InfoSection {
  --border-size: 4px;
  --overlap-offset: 11%;

  font-size: 1.1rem;
  line-height: 1.6;
  display: flow-root;
  background: #fff;

  @include bp(S) {
    background: transparent;
  }

  @include bp(L) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap-size);
    > * {
      grid-row-start: 1;
    }

    &-cardContainer {
      grid-column: 1 / 9;

      .InfoSection--reverse & {
        grid-column: 5 / 13;
      }
    }
  }

  &-card {
    padding: 2rem var(--inner-x-padding) 4rem;

    @include bp(S) {
      background: #fff;
      border: solid var(--border-size) #000;
      padding: var(--inner-x-padding);
    }

    @include bp(L) {
      padding-top: 4rem;
      padding-right: var(--overlap-offset);

      .InfoSection--reverse & {
        padding-right: var(--inner-x-padding);
        padding-left: var(--overlap-offset);
      }
    }
  }

  &-copy {
    margin-bottom: 1.5em;
  }

  &-img {
    display: block;
    margin: 0 auto;
    width: 100%;

    @include bp(S) {
      float: right;
      width: 33.3333%;
      margin: calc(var(--inner-x-padding) + var(--border-size))
        calc(var(--inner-x-padding) + var(--border-size)) 0.2rem 1rem;
      min-width: 200px;

      .InfoSection--reverse & {
        float: left;
        margin-left: calc(var(--inner-x-padding) + var(--border-size));
        margin-right: 1rem;
      }
    }

    @include bp(L) {
      float: none;
      width: 100%;
      grid-column: 8 / 13;
      margin: 3rem 0 0;
      z-index: 1;

      .InfoSection--reverse & {
        float: none;
        grid-column: 1 / 6;
        margin: 3rem 0 0;
      }
    }
  }
}
