.LandingHeader {
  display: none;
  margin: 0 auto var(--module-y-spacing);
  background: var(--background-color);
  position: relative;
  padding: 0;

  @include bp(S) {
    display: block;
  }

  &-bg {
    display: block;
    width: 100%;
  }
}
