.Module {
  margin-bottom: var(--module-y-spacing);

  &:last-of-type {
    margin-bottom: 0;
  }

  &--invert {
    background-color: #343230;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 3rem 0;
  }

  &-inner {
    position: relative;
    margin: 0 auto;
    max-width: var(--outer-max-width);

    @include bp(S) {
      padding: 0 var(--outer-x-padding);
    }
  }

  &-title {
    display: none;
    margin: 0;
    padding: 0.1em 0.3em;
    font-family: var(--font-family-mono);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-transform: lowercase;
    line-height: 1.7em;
    -webkit-font-smoothing: antialiased;

    @include bp(S) {
      display: inline-block;
      position: absolute;
      top: -1.6rem;
      left: 0;
      z-index: 1;
      font-size: 2rem;
      top: -2.2rem;
    }

    a {
      text-decoration: none;
      display: inline-block;

      &,
      &:hover,
      &:visited {
        color: currentColor;
      }
    }

    .Module--reverse & {
      left: auto;
      right: 0;
    }

    .Module--invert & {
      margin-top: -1.5em;
      // color: #000;
      // background-color: #fff;
      // -webkit-font-smoothing: auto;
    }
  }
}
