:root {
  --side-panel-width: 200px;
  --side-panel-duration: 0.25s;
}

.NavMenu {
  width: var(--side-panel-width);
  color: #fff;
  background: #000;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  z-index: -1;
  margin: 0;
  padding: 2em 0 0;
  line-height: 1.4;
  background: #333;
  top: 0;
  right: 0;

  &-link {
    color: inherit;
    display: block;
    text-decoration: none;
    font-family: var(--font-family-mono);
    padding: 0.5em 1em;

    &:hover {
      color: var(--accent-color);
    }
  }
}

body {
  position: relative;
  transition: right var(--side-panel-duration) ease-in-out;
  right: 0;

  &.is-menuOpen {
    right: var(--side-panel-width);
  }
}
