:root {
  --side-panel-width: 200px;
  --side-panel-duration: 0.25s;
}

.SiteHeader {
  padding-top: 1rem;

  body.page--home & {
    padding-top: 0;
  }

  &-inner {
    max-width: var(--outer-max-width);
    padding: 0 var(--outer-x-padding);
    margin: 0 auto;
    position: relative;
    z-index: 20;
    pointer-events: none;

    body.page--home & {
      top: var(--inner-x-padding);
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  &-title {
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    line-height: 1;
    font-size: 18px;

    body.page--home & {
      font-size: 20px;

      @include bp(S) {
        font-size: 30px;
      }

      @include bp(XL) {
        font-size: 40px;
      }
    }

    span {
      pointer-events: all;

      &:last-child {
        background: var(--accent-color);
        font-style: italic;
        margin-bottom: 0;
      }
    }
  }

  &-menuButton {
    pointer-events: all;
    width: 25px;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 10;
    right: var(--outer-x-padding);
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #000;
    appearance: none;
    cursor: pointer;
    top: 7px;

    @include bp(S) {
      width: 30px;
      height: 20px;
    }

    body.page--home & {
      color: #fff;

      // The menu is expanded on desktop on the homepage anyway
      @include bp(L) {
        display: none;
      }
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: currentColor;
      opacity: 1;
      transform: rotate(0deg);
      transition: var(--side-panel-duration) ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 40%;
      }

      &:nth-child(4) {
        top: 80%;
      }
    }

    &[aria-expanded='true'] span:nth-child(1) {
      top: 20%;
      width: 0;
      left: 50%;
    }

    &[aria-expanded='true'] span:nth-child(2) {
      transform: rotate(45deg);
    }

    &[aria-expanded='true'] span:nth-child(3) {
      transform: rotate(-45deg);
    }

    &[aria-expanded='true'] span:nth-child(4) {
      top: 20%;
      width: 0;
      left: 50%;
    }
  }

  &-navGraph {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    }
  }
}
