<div class="ArticleGrid">
  <div class="ArticleThumb">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/bipolar-world-i.jpg"
        alt="Woods and subway"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Sascha Altman DuBrul</div>
        <div class="ArticleThumb-published">September 2002</div>
      </div>
      <h3 class="ArticleThumb-title">The Bipolar World</h3>
    </div>
  </div>

  <div class="ArticleThumb">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/world_between.jpg"
        alt="World between"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Elizabeth Marie Brewer</div>
        <div class="ArticleThumb-published">2014</div>
      </div>
      <h3 class="ArticleThumb-title">Psychiatric Disability and Rhetoricity</h3>
    </div>
  </div>

  <div class="ArticleThumb ArticleThumb--2x1">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/not-alone-split.png"
        alt="You Are Not Alone"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Alyson Young</div>
        <div class="ArticleThumb-published">August 2018</div>
      </div>
      <h3 class="ArticleThumb-title">
        Madness and lived experience: An analysis of The Icarus Project
      </h3>
    </div>
  </div>

  <div class="ArticleThumb ArticleThumb--2x2">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/drooker-subway.png"
        alt="Subway Skeletons Eric Drooker"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Sascha Altman DuBrul</div>
        <div class="ArticleThumb-published">July 2014</div>
      </div>
      <h3 class="ArticleThumb-title">
        The Icarus Project: A Counter Narrative for Psychic Diversity
      </h3>
    </div>
  </div>

  <div class="ArticleThumb ArticleThumb--2x1">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/cloud-atlas.png"
        alt="Cloud-atlas thing"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Maryse Mitchell-Brody</div>
        <div class="ArticleThumb-published">2007</div>
      </div>
      <h3 class="ArticleThumb-title">
        The Icarus Project: Dangerous Gifts, Iridescent Visions and Mad
        Community
      </h3>
    </div>
  </div>

  <div class="ArticleThumb">
    <div class="ArticleThumb-imgWrap">
      <img
        src="/lithium.png"
        alt="Bottle of Lithium"
        class="ArticleThumb-img"
      />
    </div>
    <div class="ArticleThumb-details">
      <div class="ArticleThumb-byline">
        <div class="ArticleThumb-author">Icarus Members</div>
        <div class="ArticleThumb-published">2010</div>
      </div>
      <h3 class="ArticleThumb-title">The Lithium Debates</h3>
    </div>
  </div>
</div>
