---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/articles-page.njk
title: Articles
permalink: /articles/t/{{ tag | slugify }}/
---

<div></div>
