---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/basic-page.njk
title: Articles
permalink: /articles/t/{{ tag | slugify }}/
---

<div class="ArticlesPage">{% include "partials/article-grid.njk" %}</div>
