---
layout: layouts/basic-page.njk
eleventyExcludeFromCollections: true
title: Publications
---

<div class="PublicationsPage">
  <ul class="PublicationsPage-list" role="list">
    {% for info in publications %}
    <li class="PublicationsPage-item">{% include "partials/teaser.njk" %}</li>
    {% endfor %}
  </ul>
</div>
