---
layout: layouts/base.njk
---

<article
  class="Article{% if hero_img %} Article--hero{% if hero_layout %} Article--{{
    hero_layout
  }}{% endif %}{% endif %}"
>
  {% include 'partials/article-header.njk' %}

  <div class="Article-content">
    {% if attachments %}
    <section class="Article-attachments">
      <h2 class="Article-attachmentsLabel">Files</h2>
      {% if (attachments | isArr) %}
      <ul class="Article-attachmentList" role="list">
        {% for file in attachments %}
        <li class="Article-attachment">
          {% include 'partials/attachment-link.njk' %}
        </li>
        {% endfor %}
      </ul>
      {% else %}

      <div class="Article-attachmentList">
        <div class="Article-attachment">
          {% set file = attachments %} {% include 'partials/attachment-link.njk'
          %}
        </div>
      </div>
      {% endif %}
    </section>
    {% endif %}

    {{ content | safe }}
  </div>
</article>
