---
layout: layouts/base.njk
---

<section class="ArticlesPage">
  <header class="ArticlesPage-header">
    <h1 class="ArticlesPage-title">{{ title }}</h1>

    {% include 'partials/taglist.njk' %}
  </header>

  <div class="ArticlesPage-content">
    {% include "partials/article-grid.njk" %}
  </div>
</section>
