---
layout: layouts/base.njk
---

<article class="Article">
  {% if hero %}
  <img src="{{ hero }}" alt="{{ title }}" class="Article-hero" />
  {% else %}
  <header class="Article-header">
    <div class="Article-details">
      <h1 class="Article-title">{{ title }}</h1>

      {% if subhed %}
      <h2 class="Article-subhed">{{ subhed }}</h2>
      {% endif %}
      <hr class="Article-divider" />

      <div class="Article-byline">
        {% if author %}
        <span class="Article-metadataItem Article-metadataItem--author">
          By {{ author }}
        </span>
        {% endif %} {% if author and published %}&middot;{% endif %} {% if
        published %}
        <span class="Article-metadataItem Article-metadataItem--published">
          {{ published }}
        </span>
        {% endif %}
      </div>

      <div class="Article-tags">
        {% set taglist = tags %} {% include 'partials/taglist.njk' %}
      </div>

      {% if attachments %}
      <section class="Article-attachments">
        <h2 class="Article-attachmentsLabel">Files</h2>
        {% if (attachments | isArr) %}
        <ul class="Article-attachmentList">
          {% for file in attachments %}
          <li class="Article-attachment">
            {% include 'partials/attachment-link.njk' %}
          </li>
          {% endfor %}
        </ul>
        {% else %}

        <div class="Article-attachmentList">
          <div class="Article-attachment">
            {% set file = attachments %} {% include
            'partials/attachment-link.njk' %}
          </div>
        </div>
        {% endif %}
      </section>
      {% endif %}
    </div>
  </header>
  {% endif %}

  <div class="Article-content">
    {{ content | safe }}
  </div>
</article>
