---
layout: layouts/base.njk
---

<div class="LandingHeader">
  <img
    src="/icarus-archive-bg-overflow@2x.png"
    class="LandingHeader-bg"
    alt="A collage of Icarus Project imagery"
  />
</div>

{%- set aboutPage = collections.homepage | find('about') -%}
<section class="Module">
  <div class="Module-inner">
    <h2 class="Module-title"><a href="{{ '/about' | url }}">/about</a></h2>

    <article class="Module-content">
      <div class="InfoSection">
        <img
          src="/icarus-over-manhattan.jpg"
          width="200"
          alt="Painting of Icarus over Manhattan by Eric Drooker"
          class="InfoSection-img"
        />

        <div class="InfoSection-cardContainer">
          <div class="InfoSection-card">
            <div class="InfoSection-copy">
              {{ aboutPage.data.page.excerpt | toHTML | safe }}
            </div>
            <div class="InfoSection-moreLink">
              <a href="{{ '/about' | url }}">
                Read more about The Icarus Project »
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="Module Module--reverse">
  <div class="Module-inner">
    <h2 class="Module-title">
      <a href="{{ '/publications' | url }}">/publications</a>
    </h2>

    <article class="Module-content">
      <div class="InfoSection InfoSection--reverse">
        <img
          src="/navigatingthespacecover.png"
          width="200"
          alt="Cover of Navigating the Space Between Brilliance and Madness"
          class="InfoSection-img"
        />

        <div class="InfoSection-cardContainer">
          <div class="InfoSection-card">
            <div class="InfoSection-copy">
              <p>
                We assembled the beautiful and jagged pieces of our collective
                experience, the lessons and the scars, to create an atlas of
                alternative maps to the particular breed of madness that gets
                called bipolar, and the ways people are making it through.
                Traveling through subconscious and waking worlds, from hospital
                waiting rooms to collective house kitchens, from the desert to
                the supermarket, these pages chart some of the underground
                tunnels beneath the mainstream medical model of treatment and
                the pathologizing language that alienates so many of us.
              </p>
              <a href="#">Download PDF</a>
            </div>
            <div class="InfoSection-moreLink">
              <a href="{{ '/publications' | url }}"> See all publications » </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="Module Module--invert">
  <div class="Module-inner">
    <h2 class="Module-title">
      <a href="{{ '/articles' | url }}">/articles</a>
    </h2>

    <div class="Module-content">{% include "article-grid.njk" %}</div>
  </div>
</section>

<script src="/scripts/home.js"></script>
