---
layout: layouts/base.njk
---

<div class="LandingHeader">
  <img
    src="/icarus-archive-bg-overflow@2x.png"
    class="LandingHeader-bg"
    alt="A collage of Icarus Project imagery"
    width="3578px"
    height="2246px"
  />
</div>

{% for module in modules %}
<section class="{{ module.className }}">
  <div class="Module-inner">
    <h2 class="Module-title">
      <a href="{{ module.url }}">{{ module.title }}</a>
    </h2>

    <div class="Module-content">
      {% set info = module.info %} {% include module.layout %}
    </div>
  </div>
</section>
{% endfor %}

<script src="/scripts/home.js"></script>
