---
layout: layouts/base.njk
---

<div class="ArticlesPage">
  <h1 class="ArticlesPage-title">{{ title }}</h1>

  {%- set articles = collections.article -%}
  <div class="ArticlesPage-content">{% include "article-grid.njk" %}</div>
</div>
