<header class="SiteHeader">
  <div class="SiteHeader-inner">
    <a href="{{ '/' | url }}" class="SiteHeader-title">
      <span>The</span><span>Icarus</span><span>Project</span><br /><span
        >Archive</span
      >
    </a>

    <button
      id="menu-button"
      class="SiteHeader-menuButton"
      aria-expanded="false"
      aria-label="Toggle Navigation Menu"
      aria-controls="menu"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="SiteHeader-nav" aria-labelledby="menu-button">
    <ul id="menu" class="SiteHeader-menu">
      <li>
        <a href="{{ '/publications' | url }}" data-links="3, 4, 6">
          Publications
        </a>
      </li>
      <li>
        <a href="https://icarusprojectarchive.substack.com/" data-links="7">
          Substack
        </a>
      </li>
      <li>
        <a href="{{ '/related' | url }}" data-links="0, 4, 6">
          Related Projects
        </a>
      </li>
      <li>
        <a href="{{ '/about' | url }}" data-links="1, 5"> About </a>
      </li>
      <li>
        <a href="{{ '/galleries' | url }}" data-links="1, 6, 7"> Galleries </a>
      </li>
      <li>
        <a href="https://site.icarusprojectarchive.org/" data-links="0, 1">
          Old Website
        </a>
      </li>
      <li>
        <a href="#merch" data-links="1, 3"> Dangerous Gift Shop </a>
      </li>
      <li>
        <a href="{{ '/articles' | url }}" data-links="2, 3, 5">
          Articles &amp; Papers
        </a>
      </li>
    </ul>
  </nav>
  <div id="nav-graph-target" class="SiteHeader-navGraph"></div>
</header>
