<a href="{{ article.url }}" class="ArticleThumb">
  <div class="ArticleThumb-imgWrap">
    {% if article.data.thumb %}
    <img
      src="{{ article.data.thumb }}"
      alt="{{ article.data.thumb_alt }}"
      class="ArticleThumb-img"
    />
    {% endif %}
  </div>

  <div class="ArticleThumb-details">
    {% if article.data.author %}
    <div class="ArticleThumb-byline">
      <div class="ArticleThumb-author">{{ article.data.author }}</div>
      <div class="ArticleThumb-published">{{ article.data.published }}</div>
    </div>
    {% endif %}

    <h3 class="ArticleThumb-title">{{ article.data.title }}</h3>
  </div>
</a>
