<article class="Carousel">
  <div class="Carousel-nav">
    <button class="Carousel-prev">←</button>
    <button class="Carousel-next">→</button>
  </div>

  <swiper-container
    class="Carousel-swiper"
    slides-per-view="auto"
    space-between="40"
    speed="300"
    threshold="2"
    init="false"
  >
    {% for slide in info.slides | sortByOrder %}
    <swiper-slide class="Carousel-slide">
      <a href="{{ slide.url }}" class="Carousel-slideLink">
        <img
          src="{{ slide.img }}"
          alt="{{ slide.img_alt }}"
          class="Carousel-img"
        />
        <h3 class="Carousel-slideTitle">{{ slide.title | safe }}</h3>
      </a>
    </swiper-slide>
    {% endfor %}
  </swiper-container>
</article>
