<header class="SiteHeader">
  <div class="SiteHeader-inner">
    <a href="/" class="SiteHeader-title">
      <span>The</span><span>Icarus</span><span>Project</span>
      <br />
      <span>Archive</span>
    </a>

    <button
      id="menu-button"
      class="SiteHeader-menuButton"
      aria-expanded="false"
      aria-label="Toggle Navigation Menu"
      aria-controls="menu"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="SiteHeader-nav" aria-labelledby="menu-button">
    {% include 'partials/nav-menu.njk' %}
  </nav>

  <div id="nav-graph-target" class="SiteHeader-navGraph"></div>
</header>
